.page {
  background-image: url(../resources/lab_photo.png);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  /* height: 100vh; */
  width: 100vw;
  position: absolute;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* z-index: 2; Ensure overlay is on top */
}

.titleContainer {
  margin: 0px auto;
  width: 42%;
  padding: 32px;
}

.titleTextContainer {
  font-family: 'Lora';
  font-size: 60px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.intro {
  display: inline-flex;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 6px;
  font-size: 16px;
  color: #FBD784;
  margin-bottom: 20px;

  .hr {
    width: 80px;
    margin: auto 20px auto 0;
    border-width: 1px;
    border-color: #FBD784;
  }
}

.titleBold {
  font-weight: 600;
}

.gradient {
  height: 40vh;
  background: linear-gradient(to bottom, rgba(11, 29, 38, 0) 0%, #0B212C 100%);
}

.homePageContent {
  background-color: #0B212C;
  padding: 10%;
  text-align: center;
  color: white;
}
